/* colors and fonts */

/*@import url(../Idea-site/css/components/banner.css);*/

body {
	/*background-color: #EAF4F4;*/
	background-image: /*linear-gradient(350deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%),*/ url(images/background.jpg);
	background-size: cover;
	background-position: center;
	color: rgb(50,50,50);
	font-family: 'Lora', serif;
	font-size: 20px;
	font-weight: lighter;
}


h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #2B3D79;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 50px;
}

h2 {
	color: #2B3D79;
	font-size: 35px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 0px;
	letter-spacing: 12px;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #2B3D79;
	transition: color 0,3s ease;
}

a:hover {
	color: black;
	/*font-weight: bolder;*/
}

#intro {
	background: white;
	padding: 30px 15px;
    margin: 50px auto;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius: 4px;
	text-align: center;
	width: 550px;
}

#intro p {
	margin-bottom: 40px;
}

.img-circle {
	border-radius: 50%;
}

#profile_pic {
	width : 250px;
}

.text-center {
	text-align: center;
}

.btn-red {
	background-color: #E53E3A;
	color: white;
	padding: 15px 20px;
}

.btn-red:hover {
	background-color: #2B3D79;
	color: white;
}

.container {
	/*width: 1100px ;*/
	margin: 40px auto;
	border-radius : 4px;
}


@media (max-width: 575px) {
	.container {
		 width: 530px ;
	}	
}

@media (min-width: 1500px) {
	.container {
		width: 1200px;
		margin: 40px auto;
	}
}

@media (min-width: 1100px) {
	.container {
		width: 850px;
	}
}

/*
@media (max-width: 750px) {
	.container {
		 width: 600px ;
	}	
}

/*
@media (max-width: 900px) {
	.container {
		 width: 750px ;
	}	
}


@media (max-width: 1200px) {
	.container {
		 width: 850px ;
	}	
}
*/

.card-white {
	background-color: white;
	padding: 10px 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
	border-radius : 4px;
	margin : 20px 30px;
	text-align: center;
	/*display: flex;
	flex-direction: column;*/
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size : 50px;
	color: rgb(210,210,210);
}

.list-inline i:hover {
	color: black;
}

.dates {
	text-align: right;
	font-size: bold;
	font-weight: bold;
}

ul {
	list-style: none;
	margin: 10px;
	padding-left: 0px
}

.flex-box {
	display: flex;
}

.texte-gauche {
	text-align: left;
	padding-left: 10px
}

.bold {
	font-weight: bold;
	margin-bottom: 5px;
}

.description {
	color: rgba(30,30,30,0.8);
	font-weight: lighter;
	font-size: 18px;
	margin-bottom: 15px;
	margin-left : 30px;
	text-align: justify;

}

.sans-marge-basse {
	margin-bottom: 0px;
}